<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/beans/spring-util.xsd">

    <!--<bean class="org.apache.shiro.authc.credential.HashedCredentialsMatcher" id="credentialsMatcher">-->
        <!--&lt;!&ndash;加密方式&ndash;&gt;-->
        <!--<property name="hashAlgorithmName" value="md5"/>-->
        <!--&lt;!&ndash;加密次数&ndash;&gt;-->
        <!--<property name="hashIterations" value="1" />-->
    <!--</bean>-->
    <!--自动定义realm-->
    <bean class="com.wuhan.shiro.MyRealm" id="realm">
        <!--<property name="credentialsMatcher" ref="credentialsMatcher"/>-->
    </bean>

    <!--创建SecurityManager-->
    <bean class="org.apache.shiro.web.mgt.DefaultWebSecurityManager" id="securityManager">
        <!--注入realm-->
        <property name="realm" ref="realm"/>
        <!--注入cookieRememberMeManager：处理cookie-->
        <property name="rememberMeManager" ref="cookieRememberMeManager" />
        <!--注入sessionManager：处理session的-->
        <property name="sessionManager" ref="sessionManager" />
        <!--缓存管理-->
        <property name="cacheManager" ref="cacheManager"/>
    </bean>

    <bean id="shiroFilter" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="loginUrl" value="login.jsp"/>
        <property name="unauthorizedUrl" value="403.jsp"/>
        <property name="filterChainDefinitions">
            <!--authc如果没有登录会跳到相应的登录页面登录-->
            <!--anon匿名拦截器，即不需要登录即可访问；一般用于静态资源过滤；-->
            <!--logout退出拦截器，主要属性：redirectUrl：退出成功后重定向的地址（/）-->
            <value>
                /403.jsp = anon
                /login.jsp = anon
                /login.action = anon
                /logout = logout
                /css/* = anon
                /js/* = anon
                /user.action = roles["admin"]
                /** = user
            </value>
        </property>
        <!--&lt;!&ndash;配置filter&ndash;&gt;-->
        <!--<property name="filters">-->
            <!--<util:map>-->
                <!--<entry key="rolesOr" value-ref="rolesOrFilter" />-->
            <!--</util:map>-->
        <!--</property>-->
    </bean>


    <!-- 自动登录 -->
    <bean class="org.apache.shiro.web.mgt.CookieRememberMeManager" id="cookieRememberMeManager">
        <property name="cookie" ref="cookie"></property>
    </bean>

    <!--自动登录的有效时间-->
    <bean class="org.apache.shiro.web.servlet.SimpleCookie" id="cookie">
        <constructor-arg name="name" value="rememberMe" />
        <!--cookie存活时间(s)-->
        <property name="maxAge" value="10000" />
    </bean>

    <!-- 会话管理器 -->
    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <!-- 配置session的失效时间 -->
        <property name="globalSessionTimeout" value="10000"/>
        <!-- 删除无效的session -->
        <property name="deleteInvalidSessions" value="true"/>
    </bean>

    <!-- 缓存管理器 -->
    <bean id="cacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"/>
    </bean>

</beans>