<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 配置别名 -->
	<!-- 数据源已经交给了spring容器来管理 -->
	<!--<typeAliases>
		<typeAlias alias="Student" type="com.yuan.bean.Student"/>
	</typeAliases>-->
	<!--   -->
	<mappers>
		<mapper resource="mapper/UserMapper.xml" />
	</mappers>
</configuration>
